@import url('./asset.css');
.avatar {
    border-radius: 100%;
    width: 45px;
    height: 45px;
}

.primary-color {
    color: var(--primary-color);
}

.primary-bg {
    background: var(--primary-color);
}

.tag {
    background: var(--primary-color);
    color: #fff;
    font-size: 11px;
    display: inline-block;
    padding: 0 8px;
    border-radius: 20px;
    text-decoration: none;
}

.tag:hover {
    color: #fff;
}

.cspt {
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
    display: none;
}

.overlay-active {
    display: flex;
}

.close-popup {
    top: 0;
    right: 0;
    background: #fff;
    color: #333;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.close-popup:hover {
    color: #fff;
    background: var(--primary-color);
}

body {
    width: 100vw;
    overflow: auto;
}


/* start navbar section */

#search-btn {
    height: 40px;
    border-radius: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0 10px;
    right: 0px;
    top: 0;
}

nav {
    z-index: 100;
    width: 100%;
}

#search-form {
    width: 300px;
}

#dropdown {
    left: -200px;
    width: 250px;
}

#new-dropdown {
    left: -100px;
}

#navbarSupportedContent {
    width: 40%;
}

.signin-btn {
    width: 80px;
    display: flex;
    justify-content: center;
    color: #fff;
}


/* end navbar section */


/* start carousel section */

main {
    margin-top: 76px;
}

.carousel-item:not(.blog-carousel-item) {
    padding-top: 32%;
    background: url('../img/banner.png') top center / cover no-repeat;
}


/* end carousel section */


/*start blog & card section */

.blogs {
    flex-wrap: wrap;
}

.blog-card {
    width: 18%;
    min-width: 250px;
    margin: 0 20px;
}

.card-body {
    text-overflow: ellipsis;
    padding-top: 2px;
}

.question-info,
.blog-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question-card {
    width: 40%;
}

.thumbnail {
    width: 100%;
    padding-top: 50%;
}

.author-info {
    text-decoration: none;
    color: #111;
}

.author-info:hover {
    color: #111;
}


/*start responsive section */

@media screen and (max-width: 992px) {
    #search-btn {
        width: 40px;
        border-radius: 100%;
        padding: 0 10px;
        right: 0px;
        top: 0;
    }
    #search-form {
        width: 40px;
    }
    #dropdown,
    #new-dropdown {
        width: 100%;
        left: 0;
        border: none;
        background-color: var(--bs-light-rgb);
    }
    .blogs {
        overflow: scroll;
    }
    .blog-card {
        min-width: 220px;
        flex-wrap: none;
    }
}


/*end responsive section */